<% @body_id = 'cart' %>

<div data-hook="cart_container">
  <h1><%= Spree.t(:shopping_cart) %></h1>
  <br>

  <% if @order.line_items.empty? %>
    <div data-hook="empty_cart">
      <div class="alert alert-info"><%= Spree.t(:your_cart_is_empty) %></div>
      <p><%= link_to Spree.t(:continue_shopping), products_path, class: 'btn btn-default' %></p>
    </div>
  <% else %>
    <div data-hook="outside_cart_form">
      <%= form_for @order, url: update_cart_path, html: { id: 'update-cart' } do |order_form| %>
        <div data-hook="inside_cart_form">

          <div data-hook="cart_items" class="table-responsive">
            <%= render partial: 'form', locals: { order_form: order_form } %>
          </div>

          <div class="links col-md-3 navbar-form pull-right text-right" data-hook="cart_buttons">
            <div class="flex-w flex-m m-r-20 m-tb-5">
              <%= button_tag class: 'flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10', id: 'update-button' do %>
                <%= Spree.t(:update) %>
              <% end %> &#8195;
              <%= button_tag class: 'flex-c-m stext-101 cl0 size-119 bg3 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10', id: 'checkout-link', name: 'checkout' do %>
                <%= Spree.t(:checkout) %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="links col-md-3 navbar-form pull-left text-left" data-hook>
      <%= form_tag empty_cart_path, method: :put do %>
        <p class="flex-w flex-m m-r-20 m-tb-5" id="clear_cart_link" data-hook>
          <%= submit_tag Spree.t(:empty_cart), class: 'flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10' %> &#8195;
          <%= link_to Spree.t(:continue_shopping), products_path, class: 'flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10' %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  Spree.current_order_id = "<%= @order.number %>"
  Spree.current_order_token = "<%= @order.guest_token %>"
</script>
