<div class="address vcard">
  <% unless order.bill_address.company.blank? %>
    <div class="org">
      <span class="stext-110 cl2">Название компании: </span><span class="stext-111 cl6 p-t-2"><%= order.bill_address.company %></span>
    </div>
  <% end %>
  <% unless order.payer_account_number.blank? %>
    <div class="org">
      <span class="stext-110 cl2">УНП: </span><span class="stext-111 cl6 p-t-2"><%= order.payer_account_number %></span>
    </div>
  <% end %>
  <% unless order.representative_position.blank? %>
    <div class="org">
      <span class="stext-110 cl2">Позиция представителя: </span><span class="stext-111 cl6 p-t-2"><%= order.representative_position %></span>
    </div>
  <% end %>
  <% unless order.grounds.blank? %>
    <div class="org">
      <span class="stext-110 cl2">Основания представителя: </span><span class="stext-111 cl6 p-t-2"><%= order.grounds %></span>
    </div>
  <% end %>
  <% unless order.bank_name.blank? %>
    <div class="org">
      <span class="stext-110 cl2">Название банка: </span><span class="stext-111 cl6 p-t-2"><%= order.bank_name %></span>
    </div>
  <% end %>
  <% unless order.bank_address.blank? %>
    <div class="org">
      <span class="stext-110 cl2">Адрес банка: </span><span class="stext-111 cl6 p-t-2"><%= order.bank_address %></span>
    </div>
  <% end %>
  <% unless order.checking_account.blank? %>
    <div class="org">
      <span class="stext-110 cl2">Расчетный счет: </span><span class="stext-111 cl6 p-t-2"><%= order.checking_account %></span>
    </div>
  <% end %>
  <% unless order.bic.blank? %>
    <div class="org">
      <span class="stext-110 cl2">BIC/SWIFT: </span><span class="stext-111 cl6 p-t-2"><%= order.bic %></span>
    </div>
  <% end %>
</div>

