<% address_id = address_type.chars.first %>

<div class="inner" data-hook=<%="#{address_type}_inner" %>>



  <p class="form-group" id=<%="#{address_id}firstname" %>>

    <div class="bor8 bg0 m-b-22">
      <%= form.text_field :firstname, class: 'stext-111 cl8 plh3 size-111 p-lr-15', required: true, placeholder: Spree.t(:first_name) %>
    </div>
  </p>





  <p class="form-group" id=<%="#{address_id}address1" %>>
    <div class="bor8 bg0 m-b-22">
      <%= form.text_field :address1, class: 'stext-111 cl8 plh3 size-111 p-lr-15', placeholder: Spree.t(:street_address) %>
    </div>
  </p>




  <% if Spree::Config[:address_requires_state] %>
    <p class="form-group" id=<%="#{address_id}state" %>>
      <% have_states = !address.country.states.empty? %>
      <%= form.label :state do %>
        <%= Spree.t(:state) %><abbr class='required' title="Обязательно для заполнения" id=<%="#{address_id}state-required"%>>*</abbr>
      <% end %>

      <%== state_elements = [
         form.collection_select(:state_id, address.country.states,
                            :id, :name,
                            {include_blank: true},
                            {class: have_states ? 'form-control' : 'form-control hidden',
                            required: have_states,
                            disabled: !have_states}) +
         form.text_field(:state_name,
                            class: !have_states ? 'form-control' : 'form-control hidden',
                            required: !have_states,
                            disabled: have_states)
         ].join.gsub('"', "'").gsub("\n", "")
      %>
    </p>
      <noscript>
        <%= form.text_field :state_name, class: 'form-control', required: true %>
      </noscript>
  <% end %>








  <p class="form-group" id=<%="#{address_id}phone" %>>
    <div class="bor8 bg0 m-b-22">
      <%= form.phone_field :phone, class: 'stext-111 cl8 plh3 size-111 p-lr-15', placeholder: Spree.t(:phone), required: address.require_phone? %>
    </div>
  </p>
















  <% if @order.entity? %>

    <p class="form-group" id=<%="#{address_id}company" %>>
      <div class="bor8 bg0 m-b-22">
        <%= form.text_field :company, class: 'stext-111 cl8 plh3 size-111 p-lr-15', required: true, placeholder: Spree.t(:company) %>
      </div>
    </p>

    <%= fields_for @order do |f| %>
      <p class="form-group" id=<%="#{address_id}payer_account_number" %>>
        <div class="bor8 bg0 m-b-22">
          <%= f.text_field :payer_account_number, class: 'stext-111 cl8 plh3 size-111 p-lr-15', required: true, placeholder: Spree.t(:payer_account_number) %>
        </div>
      </p>

      <p class="form-group" id=<%="#{address_id}representative_position" %>>
        <div class="bor8 bg0 m-b-22">
          <%= f.text_field :representative_position, class: 'stext-111 cl8 plh3 size-111 p-lr-15', required: true, placeholder: Spree.t(:representative_position) %>
        </div>
      </p>

      <p class="form-group" id=<%="#{address_id}grounds" %>>
        <div class="bor8 bg0 m-b-22">
          <%= f.text_field :grounds, class: 'stext-111 cl8 plh3 size-111 p-lr-15', required: true, placeholder: Spree.t(:grounds) %>
        </div>
      </p>

      <p class="form-group" id=<%="#{address_id}bank_name" %>>
        <div class="bor8 bg0 m-b-22">
          <%= f.text_field :bank_name, class: 'stext-111 cl8 plh3 size-111 p-lr-15', required: true, placeholder: Spree.t(:bank_name) %>
        </div>
      </p>

      <p class="form-group" id=<%="#{address_id}bank_address" %>>
        <div class="bor8 bg0 m-b-22">
          <%= f.text_field :bank_address, class: 'stext-111 cl8 plh3 size-111 p-lr-15', required: true, placeholder: Spree.t(:bank_address) %>
        </div>
      </p>

      <p class="form-group" id=<%="#{address_id}checking_account" %>>
        <div class="bor8 bg0 m-b-22">
          <%= f.text_field :checking_account, class: 'stext-111 cl8 plh3 size-111 p-lr-15', required: true, placeholder: Spree.t(:checking_account) %>
        </div>
      </p>

      <p class="form-group" id=<%="#{address_id}bic" %>>
        <div class="bor8 bg0 m-b-22">
          <%= f.text_field :bic, class: 'stext-111 cl8 plh3 size-111 p-lr-15', required: true, placeholder: Spree.t(:bic) %>
        </div>
      </p>
    <% end %>
  <% end %>
</div>
