<% address_id = address_type.chars.first %>

<div class="inner" data-hook=<%="#{address_type}_inner" %>>
  <p class="form-group" id=<%="#{address_id}firstname" %>>
    <%= form.label :firstname do %>
      <%= Spree.t(:first_name) %><abbr class="required" title="Обязательно для заполнения">*</abbr>
    <% end %>
    <%= form.text_field :firstname, class: 'form-control', required: true %>
  </p>
  <p class="form-group" id=<%="#{address_id}address1" %>>
    <%= form.label :address1 do %>
      <%= Spree.t(:street_address) %><abbr class="required" title="Обязательно для заполнения">*</abbr>
    <% end %>
    <%= form.text_field :address1, class: 'form-control required' %>
  </p>
  <% if Spree::Config[:address_requires_state] %>
    <p class="form-group" id=<%="#{address_id}state" %>>
      <% have_states = !address.country.states.empty? %>
      <%= form.label :state do %>
        <%= Spree.t(:state) %><abbr class='required' title="Обязательно для заполнения" id=<%="#{address_id}state-required"%>>*</abbr>
      <% end %>

      <%== state_elements = [
         form.collection_select(:state_id, address.country.states,
                            :id, :name,
                            {include_blank: true},
                            {class: have_states ? 'form-control' : 'form-control hidden',
                            required: have_states,
                            disabled: !have_states}) +
         form.text_field(:state_name,
                            class: !have_states ? 'form-control' : 'form-control hidden',
                            required: !have_states,
                            disabled: have_states)
         ].join.gsub('"', "'").gsub("\n", "")
      %>
    </p>
      <noscript>
        <%= form.text_field :state_name, class: 'form-control', required: true %>
      </noscript>
  <% end %>
  <p class="form-group" id=<%="#{address_id}phone" %>>
    <%= form.label :phone do %>
      <%= Spree.t(:phone) %><% if address.require_phone? %><abbr class="required" title="Обязательно для заполнения">*</abbr><% end %>
    <% end %>
    <%= form.phone_field :phone, class: 'form-control', required: address.require_phone? %>
  </p>

  <% if @order.entity? %>
    <p class="form-group" id=<%="#{address_id}company" %>>
      <%= form.label :company, Spree.t(:company) %><abbr class="required" title="Обязательно для заполнения">*</abbr>
      <%= form.text_field :company, class: 'form-control', required: true %>
    </p>

    <%= fields_for @order do |f| %>
      <p class="form-group" id=<%="#{address_id}payer_account_number" %>>
        <%= f.label :payer_account_number, Spree.t(:payer_account_number) %><abbr class="required" title="Обязательно для заполнения">*</abbr>
        <%= f.text_field :payer_account_number, class: 'form-control', required: true %>
      </p>

      <p class="form-group" id=<%="#{address_id}representative_position" %>>
        <%= f.label :representative_position, Spree.t(:representative_position) %><abbr class="required" title="Обязательно для заполнения">*</abbr>
        <%= f.text_field :representative_position, class: 'form-control', required: true %>
      </p>

      <p class="form-group" id=<%="#{address_id}grounds" %>>
        <%= f.label :grounds, Spree.t(:grounds) %><abbr class="required" title="Обязательно для заполнения">*</abbr>
        <%= f.text_field :grounds, class: 'form-control', required: true %>
      </p>

      <p class="form-group" id=<%="#{address_id}bank_name" %>>
        <%= f.label :bank_name, Spree.t(:bank_name) %><abbr class="required" title="Обязательно для заполнения">*</abbr>
        <%= f.text_field :bank_name, class: 'form-control', required: true %>
      </p>

      <p class="form-group" id=<%="#{address_id}bank_address" %>>
        <%= f.label :bank_address, Spree.t(:bank_address) %><abbr class="required" title="Обязательно для заполнения">*</abbr>
        <%= f.text_field :bank_address, class: 'form-control', required: true %>
      </p>

      <p class="form-group" id=<%="#{address_id}checking_account" %>>
        <%= f.label :checking_account, Spree.t(:checking_account) %><abbr class="required" title="Обязательно для заполнения">*</abbr>
        <%= f.text_field :checking_account, class: 'form-control', required: true %>
      </p>

      <p class="form-group" id=<%="#{address_id}bic" %>>
        <%= f.label :bic, Spree.t(:bic) %><abbr class="required" title="Обязательно для заполнения">*</abbr>
        <%= f.text_field :bic, class: 'form-control', required: true %>
      </p>
    <% end %>
  <% end %>
</div>
